<?xml version="1.0" encoding="utf-8"?>
<!-- 
     Copyright (C) 2022 Vaisakh Murali
     SPDX-License-Identifer: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.extensions.dialer">

    <overlay
        android:isStatic="true"
        android:priority="10"
        android:targetPackage="com.android.dialer" />
</manifest>
